// Esquema de colores
//Primer esquema de color
$white: #fff;
$platinum: #e6e7e7;
$light-gray: #d1d1d1;
//Segundo esquema de colores
$fuzzy-wuzzy: #e56353;
$ruddy-pink: #d76c69;
$spanish-pink: #ecbcba;
//Tercer esquema de colores
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6c6e70;
//Cuarto esquema colores

//Tipografia



//Peso de fuentes
$light: 300;
$regular: 400;
$italic: 900;

//Tamaños de fuentes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;
